* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.main__div {
  display: none;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  min-height: 1090px;
  min-width: 400px;
  max-width: 800px;
  max-height: 1090px;
  border: 1px solid black;
  margin-bottom: 20px;
}

.bg__img {
  position: absolute;
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.grid__div,
.single__bill__box {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding: 10px;
}

.grid__div {
  gap: 20px;
}

input {
  margin-top: 10px;
  width: 100%;
  border: none;
  background-color: #f1f1f1;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #c0c0c0;
}

input:focus {
  outline: none;
}

.bill__heading {
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

.content__div {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  gap: 10px;
}

.btn {
  padding: 10px;
  border: none;
  background-color: #f1f1f1;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #e1e1e1;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: #f1f1f1;
  border-top: 1px solid #c0c0c0;
}

.main__bill__box {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  width: 100%;
}

#bill_no_input {
  z-index: 1;
  position: absolute;
  top: 272px;
  left: 120px;
  font-size: 18px;
}

#book_no_input {
  z-index: 1;
  position: absolute;
  top: 272px;
  left: 430px;
  font-size: 18px;
}

#date_input {
  z-index: 1;
  position: absolute;
  top: 272px;
  left: 630px;
  font-size: 18px;
  background-color: #fff;
}

#messrs_input {
  z-index: 1;
  position: absolute;
  top: 322px;
  left: 100px;
  font-size: 18px;
}

#gstin_input {
  z-index: 1;
  position: absolute;
  top: 360px;
  left: 110px;
  font-size: 18px;
}

#gam_input {
  z-index: 1;
  position: absolute;
  top: 360px;
  left: 585px;
  font-size: 18px;
}

#sgst {
  z-index: 1;
  position: absolute;
  top: 785px;
  left: 630px;
  font-size: 18px;
}

#cgst {
  z-index: 1;
  position: absolute;
  top: 818px;
  left: 630px;
  font-size: 18px;
}

#igst {
  z-index: 1;
  position: absolute;
  top: 850px;
  left: 630px;
  font-size: 18px;
}

#total {
  z-index: 1;
  position: absolute;
  top: 752px;
  left: 630px;
  font-size: 18px;
}

#grand_total {
  z-index: 1;
  position: absolute;
  top: 883px;
  left: 630px;
  font-size: 18px;
}

#IFSC {
  z-index: 1;
  position: absolute;
  top: 865px;
  left: 220px;
  font-size: 18px;
}

#ACNO {
  z-index: 1;
  position: absolute;
  top: 887px;
  left: 120px;
  font-size: 18px;
}

#INWORD {
  z-index: 1;
  position: absolute;
  top: 915px;
  left: 155px;
  font-size: 18px;
}

.original {
  padding: 5px;
  z-index: 1;
  position: absolute;
  top: 62px;
  right: 55px;
  font-size: 10px;
  text-transform: uppercase;
  font-weight: bold;
  background: #fff;
  width: 120px;
  height: 70px;
  text-align: right;
}

.full__details {
  position: absolute;
  top: 435px;
  left: 45px;
  z-index: 1;
  font-size: 18px;
}

.full__details .single__bill__box {
  height: 30px;
}


#myGSTIN {
  z-index: 1;
  position: absolute;
  top: 72px;
  left: 110px;
  font-size: 12px;
  font-weight: bold;
}

#pancard {
  z-index: 1;
  position: absolute;
  top: 90px;
  left: 120px;
  font-size: 12px;
  font-weight: bold;
}